/* You can add global styles to this file, and also import other style files */
@import "assets/style/common";

.ant-divider-horizontal {
  margin: 0 !important;
}

.ant-select-selection {
  border: none !important;
}

.ant-input:focus,
.ant-select-open .ant-select-selection {
  border: none !important;
  box-shadow: none !important;
}

.ant-input.ng-invalid.ng-dirty,
.release-class.ng-invalid.ng-dirty {
  border-bottom: 1px solid #cd0200;
}
