<div class="container">
  <div class="warpper">
    <h1 class="page-title">标题</h1>
    <ul class="page-info">
      <li class="author">作者</li>
    </ul>
    <div class="context">内容</div>
    <div class="page-comment">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button>评论</button>
    </div>
    <div>文章评论</div>
    <ul class="comment">
      <li class="commentitem">
        <div class="commentinfo">
          <span>作者</span>
          <span>时间</span>
        </div>
        <div class="commenttent">内容</div>
      </li>
    </ul>
  </div>
  <aside class="author-info">
    <div class="name">作者</div>
    <div class="sign">签名</div>
    <ul class="author-page">
      <li class="page-item">
        <h3>文章标题</h3>
        <div>文章简介</div>
      </li>
    </ul>
  </aside>
</div>
