<ul class="pagelist">
  <li class="pagelist-item" *ngFor="let item of list; let i = index">
    <div class="pagelist-content">
      <a class="title" [routerLink]="['/page', item['_id']]">{{item['atitle']}}</a>
      <!-- <a class="title" routerLink="/page">{{item['atitle']}}</a> -->
      <div class="content">{{item['abstract']}}</div>
      <ul class="info">
        <li>
          <!-- <a href="">匿名</a> -->
          <a [routerLink]="['/center', item['uid']['_id']]">{{item['uid']['uname'] || '匿名'}}</a>
        </li>
        <li class="info-type">{{item['aclass']['tname']}}</li>
        <!-- <li>浏览量：{{item['abrowser']}}</li>
        <li>收藏数：{{item['acollect']}}</li> -->
      </ul>
    </div>
    <div *ngIf="item['avatar' !== '']" class="pagelist-avatar"
      style="background-image:url(http://pic26.nipic.com/20130110/9431865_113847237176_2.jpg)">
    </div>
  </li>
</ul>
