@import "../../../assets/style/common";

.center-name {
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
  color: #333;
}

.center-header {
  padding: 40px;
  margin-bottom: 20px;
  background-color: #fff;
}

.center-pagelist {
  background-color: #fff;
}
